
body {
    background-color: #000;
}
.main {
    background-color: #fff;
    height: 500px;
    min-width: 1200px;
    padding: 3px 3px 3px 100px;
    margin-top: 86px;
}
.ryu {
    float: left;
}
.instruct {
    font-family: "arial", "Helvetica", sans-serif;
    background-color: #eee;
    border: 1px solid #aaa;
    position: absolute;
    top: 100px;
    left: 680px;
    z-index: 50;
    padding: 10px;
    padding-bottom: 24px;
    height: 440px;
}
.instruct h2 {
    font-size: 24px;
    font-style: italic;
}
.instruct li {
    color: #888;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.instruct strong {
    color: #a00;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
    width: 659px;
    height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
    display: none;
} 
.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
    background-repeat: no-repeat;
}
.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px; 
    height: 90px;
    display: none;
    float: left;
    position: relative;
    top: 167px;
    left: -200px;
    z-index: 90;
}